﻿@model IEnumerable<test.Models.Genre>

@{
    ViewBag.Title = "Store";
}

<h3>Browse Genres</h3>
<p>
    Select from @Model.Count()
    genres:
</p>
<ul>
    @foreach (var genre in Model)
    {
        @*<li>@item.Name</li>*@
        @*<li>@Html.ActionLink(item.Name, "Browse", "Store", new { genre = item.Name })</li>*@

        <li>@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name })</li>
    }
</ul>

